@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/photos/background.jpg);
}

/* header */

.header {
    color: rgb(136, 255, 0);
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20%;
    width: max-content;
    font-size: 35px;
    font-weight: 500;
    padding: 20px 0;
    margin-bottom: 10px;
    font-family: 'Zen Dots', Verdana, Tahoma, sans-serif;

    -webkit-box-shadow:0 0 20px rgba(13, 243, 128, 0.986); 
    -moz-box-shadow: 0 0 20px rgb(0, 255, 136); 
    box-shadow:0 0 20px rgb(0, 255, 157);
}

.header h1 {
    margin:10px 20px 0 20px;
    border:rgba(255, 255, 255, 0.301)
}

/* Main */

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 550px;
    margin: 15px 100px 0 100px;
    background-color: rgba(255, 255, 255, 0.849);
    border: solid rgb(7, 245, 106) 10px;
    box-shadow: 0px 0px 10px 7px rgb(146, 145, 145);
    border-radius: 15px;
    padding: 0;
    z-index: 2;
}

.container {
    border: none;
    width: 40%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 177px 177px 177px;
    grid-template-rows: 177px 177px 177px;
}

.grid {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-weight: 550;
    text-shadow: 0px 3px 5px #11e7dc;
    font-size: 80px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid:hover {
    background-color: rgba(118, 239, 248, 0.438);
}

.no-top { border-top: none; }
.no-bottom { border-bottom: none; }
.no-right { border-right: none; }
.no-left { border-left: none; }

/* Players */
.players {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.players figcaption {
    text-align: center;
    font-size: 40px;
    font-family: 'Zen Dots', Verdana, sans-serif;
}

img {
    margin-left: 20px;
    width: 90%;
    height: 450px;
}

/* Module */

.alert-module {
    position: fixed;
    border: solid 1px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 1s ease-in-out;
    border-radius: 15px;
    z-index: 10;
    background-color: rgb(92, 221, 75);
    width: 450px;
    padding: 30px;
    box-shadow: 0 0 20px rgb(0, 255, 157);
}

.alert-module.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
.alert-text {
    margin: 20px;
    font-family: 'Zen Dots', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(4, 29, 255);
    font-weight: 550;
    text-align: center;
}

.button-div {
    margin-top: 30px;
    height: 45px;
    width: 100%;
    text-align: center;
}

.button-div button {
    z-index: 6;
    cursor: pointer;
    width: 80%;
    height: 80%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    color: white;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: none;
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

.overlay.active {
    pointer-events: all;
    opacity: 1;
  }